// Specify in CSS
// Use the following CSS rules to specify these families:

// font-family: 'Baloo Chettan 2', cursive;
// font-family: 'Roboto Mono', monospace;

$color-darkcyan: darkcyan;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    font-family: 'Baloo Chettan 2', sans-serif;

    background-color: rgba(lightblue, 0.2);
}

.main-section {
    font-size: 2rem;
    text-align: center;
    display: grid;
    justify-items: center;

    h2 {
        background-image: linear-gradient(to right bottom, darkblue, orchid);
        letter-spacing: 2px;
        background-size: cover;
        text-transform: uppercase;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        padding: 1rem 2rem; 
        text-shadow: 0 0 3rem rgba(black, .4);
        font-family: 'Roboto Mono';
    }
}

.btn-add {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 100px;
    background-color: darkcyan;
    transition: all .2s;
    color: white;

    font-family: 'Baloo Chettan 2';

    box-shadow: 0 0 2rem rgba(black , .4);

    &:hover {
        filter: brightness(80%);
    }

    &:active {
        filter: brightness(80%);
        box-shadow: 0 0 1rem rgba(black , .4);
    }

    &:focus {
        outline: none;
    }
}

.gift-list {
    display: grid;
    width: 80%;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    &__item {
        background-color: darkcyan;
    }
}

.gift-form {

    font-family: 'Roboto Mono';
    
    margin: 4rem;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid darkcyan;

    border-radius: 1rem;

    &__fieldset {

    }

    &__form-group {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__input{
        border-radius: 100px;
        padding: 1rem 2rem;
        border: 2px solid darkcyan;
        margin-right: -8.75rem;

        background-color: transparent;

        font-family: inherit;

        color: black;

        
        transition: all .2s;

        font-style: inherit;

        font-size: 2rem;

        &:focus {
            background-color: orchid;
            outline: none;
            color: white;
        }

        &::placeholder{
            font-family: inherit;
        }

        &:focus::placeholder {
            color: white;
            z-index: 10;
            position: relative;
        }
    }

    &__button-submit,
    &__button-delete {
        font-family: inherit;
        border: none;
        background-color: darkcyan;
        border-radius: 100px;
        color: white;
        transition: all .2s;
        z-index: 10;
        position: relative;
        padding: 1rem 1.5rem;


        &:hover {
            cursor: pointer;
            background-color: orchid;
        }

        &:focus {
            outline: none;
        }

        &:active {
            background-color: darkorchid;
        }
    }




}